{% for insect in insects %}

<div id="{{ insect.name }}-container">
<label class="image-label" for="{{ insect.name }}">		  
  <input type="checkbox"
	 class="image-checkbox"
	 name="{{ insect.name }}"
	 value="{{ insect.name }}"			
	 id="{{ insect.name }}">
  <img class="insect_image" src="/{{ insect.photo }}">
  <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
    link_insect_selector("{{ insect.name }}","id_{{form.name}}","{{ form.field.widget.attrs.choices }}");
    });
  </script>
</label>
</div>

{% endfor %}
<br>
<div style="width: 100%">
  <button style="margin: auto; display: block;"
	  onclick="insect_selector_none('id_{{form.name}}');"
	  class="button">
    <!-- translate me -->
    None of the above
  </button>
</div>
