
<div class="insect-feel">
  <div class="text-center">
    <img class="insect_image" id="insect_img" src="">
  </div>

  <div class="feelcontainer">
    <div class="feelface" onclick="push_slider(5,'feelslider-{{ form.name }}');">
      <img class="feelimg" src="/static/images/face1.png"></div>
    <div class="feelface" onclick="push_slider(30,'feelslider-{{ form.name }}');">
      <img class="feelimg" src="/static/images/face2.png"></div>
    <div class="feelface" onclick="push_slider(50,'feelslider-{{ form.name }}');">
      <img class="feelimg" src="/static/images/face3.png"></div>
    <div class="feelface" onclick="push_slider(70,'feelslider-{{ form.name }}');">
      <img class="feelimg" src="/static/images/face4.png"></div>
    <div class="feelface" onclick="push_slider(95,'feelslider-{{ form.name }}');">
      <img class="feelimg" src="/static/images/face5.png"></div>
  </div>
  <div class="slidecontainer">
    <input id="feelslider-{{ form.name }}" class="slider" type="range" min="1" max="100" value="50">
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
  clear_insects();
  {% for insect in insects %}
  add_insect("{{insect.name}}","{{insect.photo}}","{{ form.field.widget.attrs.choices }}");
  {% endfor %}
  setup_insects_feel("{{ form.name }}");
  });	    
</script>
