{% for insect in known_insects %}

<div style="float:left; margin: 2px;">
  <img class="insect_image" src="/{{ insect.photo }}"><br>

  <input type="radio" id="{{ insect.name }}-wasp" name="{{ insect.name }}" value="wasp">
  <!-- tranlation please -->
  <label for="wasp">Wasp</label><br>
  <input type="radio" id="{{ insect.name }}-bee" name="{{ insect.name }}" value="bee">
  <!-- tranlation please -->
  <label for="bee">Bee</label><br>
  <input type="radio" id="{{ insect.name }}-none" name="{{ insect.name }}" value="none">
  <!-- tranlation please -->
  <label for="none">I don't know</label><br>

  <script>
    document.addEventListener("DOMContentLoaded", function(event) { 
    link_insect_wasp_bee("{{ insect.name }}","id_{{ form.name }}");
    });
  </script>
</div>

{% endfor %}


