
<div class="insect-feel">
  <div class="text-center">
    <img src="/{{ wasp.photo }}">
  </div>

  <div class="feelcontainer">
    <div class="feelface"><img src="/static/images/happy.png"></div>
    <div class="feelface"><img src="/static/images/happy.png"></div>
    <div class="feelface"><img src="/static/images/happy.png"></div>
    <div class="feelface"><img src="/static/images/happy.png"></div>
    <div class="feelface"><img src="/static/images/happy.png"></div>
    <div class="feelstretch"/>
  </div>
  <div class="slidecontainer">
    <input id="feelslider-{{ field.data.attrs.id }}" class="slider" type="range" min="1" max="100" value="50">
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) { 
  update_wasp_id("{{wasp.name}}","{{wasp_id_field}}");
  link_slider("feelslider-{{ field.data.attrs.id }}","{{ field.data.attrs.id }}");
  });	    
</script>
