{% load bootstrap %}
{% load static %}

<table class="table table-hover">
    <!--<thead>
      <tr>
        <th> Question  </th>
        <th> Answers </th>
      </tr>
    </thead> -->
    <tbody>
      
      
      {% for form in response_form %}
	{% if form.field.widget.attrs.category == category.name or not form.field.widget.attrs.category %}
        <tr class="{% if form.errors%} danger {% endif %}">
            <td>
	            {{ form.label|safe }}
	            {% if form.field.required %}
	                <span class="glyphicon glyphicon-asterisk" style="color:red"> </span>
	            {% endif %}
	            <span class="help-inline" style="color:red">
	                <strong> {% for error in  form.errors %}{{ error }}{% endfor %} </strong>
	            </span> <br>
                {% if form.field.widget.input_type == 'select' %}
                <select name="{{form.name}}"{% if form.field.widget.attrs.disabled %} disabled{% endif %}>
                {% endif %}
		
		{% for field in form %}
		{% if field.data.attrs.type == 'select-insect' %}	    

		{{ field.data }}
		
		{% for insect in insects %}

		<label class="image-label" for="insect-{{ insect.id }}">		  
		  <input type="checkbox"
			 class="image-checkbox"
			 name="insect-{{ insect.id }}"
			 value="insect-{{ insect.id }}"			
			 id="insect-{{ insect.id }}">
		  <img src="/{{ insect.photo }}">
		  <script>
		    document.addEventListener("DOMContentLoaded", function(event) { 
		    link_insect_selector("insect-{{ insect.id }}","{{ field.data.attrs.id }}");
		    });
		  </script>
		</label>

		{% endfor %}
		{% endif %}
		
		{{ field }}
                {% endfor%}
                {% if form.field.widget.input_type == 'select' %}
                </select>
                {% endif %}
            </td>
        </tr>
	{% endif %}
{% endfor %}
    </tbody>
</table>
