{% load bootstrap %}

<div class="question-top">
  {% for form in response_form %}

  <!-- hide if we are a farmer -->
  {% if form.field.widget.attrs.code != 'hide-farmer' or farmer == 'no-i-dont' %} 
  <!-- hide if we are not a farmer -->
  {% if form.field.widget.attrs.code != 'hide-not-farmer' or farmer != 'no-i-dont' %} 
  
  {% if form.field.widget.attrs.category == category.name or not form.field.widget.attrs.category %}
  
  <!-- hide wasp id fields -->
  {% if form.field.widget.attrs.code != 'wasp-id' %} 
  <div id="{{ form.name }}" class="{% if form.errors%} danger {% endif %} question">
    <div class="question-label">
      {{ form.label|safe }}
      {% if form.field.required %}
      <span class="glyphicon glyphicon-asterisk" style="color: red;"> </span>
      {% endif %}
    </div>

    {% if form.field.widget.attrs.type != 'info' %}
    
    <span class="help-inline" style="color: red;">
      <strong> {% for error in  form.errors %}{{ error }}{% endfor %} </strong>
    </span> <br>

    <div class="question-fields">
      {% if form.field.widget.attrs.type != 'video-text' %}
      {% if form.field.widget.input_type == 'select' %}
      <select name="{{form.name}}"{% if form.field.widget.attrs.disabled %} disabled{% endif %}>
        {% endif %}
	
	{% for field in form %}
        {{ field }} <br>
        {% endfor %}

	{% if form.field.widget.attrs.type == 'other-text' %}
	<script>
	  document.addEventListener("DOMContentLoaded", function(event) { 
	  link_other_field("id_{{ form.name }}");
	  });
	</script>
	{% endif %}

        {% if form.field.widget.input_type == 'select' %}
      </select>
      {% endif %}
      {% endif %}

      {% if form.field.widget.attrs.type == 'select-insect' %}	    
      {% include "survey/fragment_insect_select.html" %}      
      {% elif form.field.widget.attrs.type == 'insect-feel' %}	    
      {% include "survey/fragment_insect_feel.html" %}
      {% elif form.field.widget.attrs.type == 'insects-feel' %}	    
      {% include "survey/fragment_insects_feel.html" %}
      {% elif form.field.widget.attrs.type == 'text-feel' %}	    
      {% include "survey/fragment_text_feel.html" %}
      {% elif form.field.widget.attrs.type == 'video-feel' %}	    
      {% include "survey/fragment_video_feel.html" %}
      {% elif form.field.widget.attrs.type == 'video-text' %}	    
      {% include "survey/fragment_video_text.html" %}
      {% elif form.field.widget.attrs.type == 'insect-wasp-bee' %}	    
      {% include "survey/fragment_insect_wasp_bee.html" %}
      {% elif form.field.widget.attrs.type == 'name-insect' %}	    
      {% include "survey/fragment_insect_name.html" %}
      {% endif %}
      
    </div> <!-- question-fields -->

    {% endif %} <!-- info -->
    
  </div> <!-- question -->
  {% else %} <!-- wasp-id -->
  	{% for field in form %}
        {{ field }}
        {% endfor %} 
  {% endif %} <!-- wasp-id -->  
  {% endif %} <!-- category check -->

  {% endif %} <!-- not farmer -->
  {% endif %} <!-- am farmer -->

  {% endfor %} <!-- form --> 
</div> <!-- question-top -->
