{% load bootstrap %}

<div class="question-top">
  {% for form in response_form %}
  
  {% if form.field.widget.attrs.category == category.name or not form.field.widget.attrs.category %}

  <!-- hide wasp id fields -->
  {% if form.field.widget.attrs.code != 'wasp-id' %} 
  <div class="{% if form.errors%} danger {% endif %} question">
    <div class="question-label">
      {{ form.label|safe }}
      {% if form.field.required %}
      <span class="glyphicon glyphicon-asterisk" style="color: red;"> </span>
      {% endif %}
    </div>
    
    <span class="help-inline" style="color: red;">
      <strong> {% for error in  form.errors %}{{ error }}{% endfor %} </strong>
    </span> <br>

    <div class="question-fields">      
      {% if form.field.widget.input_type == 'select' %}
      <select name="{{form.name}}"{% if form.field.widget.attrs.disabled %} disabled{% endif %}>
        {% endif %}
	
	{% for field in form %}
        {{ field }}
        {% endfor %}

        {% if form.field.widget.input_type == 'select' %}
      </select>
      {% endif %}
      
      {% if form.field.widget.attrs.type == 'select-insect' %}	    
      {% include "survey/fragment_insect_select.html" %}      
      {% elif form.field.widget.attrs.type == 'insect-feel' %}	    
      {% include "survey/fragment_insect_feel.html" %}
      {% elif form.field.widget.attrs.type == 'insects-feel' %}	    
      {% include "survey/fragment_insects_feel.html" %}
      {% elif form.field.widget.attrs.type == 'text-feel' %}	    
      {% include "survey/fragment_text_feel.html" %}
      {% elif form.field.widget.attrs.type == 'name-insect' %}	    
      {% include "survey/fragment_insect_name.html" %}
      {% endif %}
      
    </div> <!-- question-fields -->
    
  </div> <!-- question -->
  {% else %} <!-- wasp-id -->
  	{% for field in form %}
        {{ field }}
        {% endfor %} 
  {% endif %} <!-- wasp-id -->  
  {% endif %} <!-- category check -->
  {% endfor %} <!-- form --> 
</div> <!-- question-top -->
