
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/* yellow: #f8d10f */
/* green: #39b582 */

body {
    font-family: 'Noto Serif', serif;
    font-size: 200%;
    background: #39b582; 
}

h1, h2, h3 {
    text-align: center;
    color: white;
}

textarea, select, input[type="number"], input[type="text"] {
    width: 100%;
    border-radius: 3px;
    border: 3px solid #39b582;
/*    background: #f8d10f;   */
    background: white; 
}

textarea:focus, select:focus, input[type="number"]:focus, input[type="text"]:focus {
    outline: none !important;    
    border: 3px solid #f8d10f;
}

textarea {
    width: 100%;
}

.button {
  border: none;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: 3px;
  margin:5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  transition: text-shadow 0.3s ease;
}

.button:active {
  position: relative;
  top: 1px;
  border-bottom-width: 2px;
}

.button:hover {
  text-shadow: 2px 2px 0px rgba(0,0,0,.3)
}

.form {
  display: block;
  width: 300px;
  background-color: #F3EDD3;
  padding:  0;
  text-align: center;
}

.form .form-title {
  text-align: center;
  padding: 5px;
  margin: 0;
  margin-bottom: 15px;
}

.form label {
    color: black;    
}

label {
    font-weight: normal;
}

.form input[type=text], .form input[type=password] {
  display: block;
}


/*
input[type=text]:focus, input[type=password]:focus {
  background-color: #f8d10f;
}
*/

input[type=submit], input[type=button] {
  color: white;
  display: block;
  width:100%;
  margin-top:15px;
  border: none;
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

input[type="checkbox"], input[type="radio"]{
	background: rgba(191,185,169,.2);
	height: 16px;
	cursor: pointer;
	border-radius: 3px;
	width:16px;
	-moz-appearance:none;
	-webkit-appearance:none;
	box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.44) inset;
  vertical-align: middle;
}

input[type="radio"] {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
  background: #f8d10f;
  box-shadow: 0 1px 2px rgba(0,0,0,.44);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.44);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.44);
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

/*---------------------------------------------------*/

.container {
    background: none;
}

.question-top {
    width: 100%;
}

.category-title {
    width: 100%;
}

.button-container {
    text-align: center;
    margin-bottom: 1em;
}

.question {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 1em;
/*    background: #39b582; */
/*    border: 4px solid #39b582; */
    background: #c2ebff;
    box-shadow: 5px 5px 5px #199562;
}

.question-label {
    font-weight: bold;
}

.question-fields {
    overflow: hidden;
}

.btn {
    color: black;
    background: #39b582;
}

.btn:hover {
    background: #f8d10f;
}

/*---------------------------------------------------*/

.image-label input[type="checkbox"] + img {
    border: 4px solid #39b582;
}

.image-checkbox {
    display: none;
}

.image-label input[type="checkbox"]:checked + img {
    border: 4px solid #f8d10f;
}

.slidecontainer {
    margin-bottom: 64px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #39b582;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 80px;
  height: 80px;
  border: 0;
  background: url('/static/images/arrow.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 80px;
  height: 80px;
  border: 0;
  background: url('/static/images/arrow.png');
  cursor: pointer;
}

.insect-feel {
    text-align: center;
    max-width: 700px;
}

.feelcontainer {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.feelface {
    vertical-align: top;
    display: inline-block;
    width: 19%;
    margin: auto;
}

.feelstretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.insect_image {
    width: 270px;
    height: auto;
}




